.forecastData {
  display: grid;
  grid-template-columns: repeat(4, minmax(160px, 1fr));
  justify-items: center;
  grid-gap: 1em;
}

summary {
  background: #e6ebe7;
  padding: .5em;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 1em;
  cursor: pointer;
  text-decoration: none;
}

summary:hover {
  background-color: #c7c9c8;
}

@keyframes open {
  0% {
    opacity: 50%;
  }

  100% {
    opacity: 100%;
  }
}

details[open] .forecastData {
  animation: open .5s ease-in-out;
}